/* --GLOBAL-- */

:root {
  --primary: #FA4A6A;
  --secondary: #BA354E;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary);
}

html{
  scroll-behavior: smooth;
}

main{
  position: relative;
  overflow: hidden;
}

h1{
  font-size: 5rem;
  color: white;
  font-weight: 900;
  font-style: italic;
}

h3{
  font-size: 1.8rem; 
  text-transform: uppercase;
  font-weight: 900;
  color: var(--secondary);
  padding-bottom: 2rem;
}

p{
  font-size: 1rem;
  line-height: 1.4rem;
  color: #7B706F;
}

/* HOMEPAGE */

.background-container > img{
  width: 100vw;
  height: 100vh;
}

.circle-squadpage{
  position: absolute;
  align-items: center;
  width: 30rem;
  height: 30rem;
  text-align: center;
  top: -2rem;
  right: 10rem;
  background: white;
  border-radius: 50%;
  padding: 6rem;
  border: solid 1rem var(--primary);
}

.circle-squadpage > p{
  padding-bottom: 3rem;
}

.circle-squadpage > a{
  color: white;
  text-decoration: none;
  background-color: var(--secondary);
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 3px 2px 5px #838383;
  transition: 0.3s;
}

.circle-squadpage > a:hover{
  text-decoration: underline;
}

.intro-title{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 15rem;
  padding: 5rem 20rem 5rem 5rem;
  background: linear-gradient(90deg,#FA4A6A, transparent);
}

.intro-title-span1{
  font-size: 6rem;
  color: white;
  font-weight: 900;
  font-style: italic;
  margin-left: 6rem;
}

.intro-title-span2{
  font-size: 6rem;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin-left: 9rem;
}

.intro-title-span3{
  font-size: 6rem;
  color: white;
  font-weight: 900;
  font-style: italic;
  margin-left: 12rem;
}

/* SVGTJES */

.heart-fdnd-love{
  position: absolute;
  top: 40rem;
  right: -8rem;
}

.heart-dark-pink{
  position: absolute;
  top: 2rem;
  left: -1rem;
}

.circles-dark-pink{
  position: absolute;
  top: -2rem;
  right: 40rem;
}

.circles-white-pink{
  position: absolute;
  top: 50rem;
  left: 3rem;
}

.hearts-white-pink{
  position: absolute;
  top: 32rem;
  right: -1rem;
}

/* MEMBERS  */

.top-title{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-style: italic;
  padding: 10rem 1rem 5rem 1rem;
}

.top-title > p{
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-top: 3rem;
}

.filter-members{
  padding: 0rem 1rem 10rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: -1rem;
}


.filter-members > a{
  color: var(--primary);
  text-decoration: none;
  background-color: white;
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  border: solid 2px white;
  transition: 0.3s;
}

.filter-members > a:nth-child(2){
  color: white;
  text-decoration: none;
  background-color: var(--primary);
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  border: solid 2px white;
  transition: 0.3s;
}

.filter-members > a:hover{
  text-decoration: underline;
}

.members-squad{
  display: flex;
  flex-flow: wrap;
  gap: 5rem;
  justify-content: space-evenly;
  padding: 0rem 10rem 0rem 10rem;
}

.members-squad > article{
  position: relative;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  text-align: center;
  background-color: lightpink;
  border-radius: 1rem;
}

article img {
  width: 24px;
	height: 24px;
	clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
	transform: scale(7);
  margin-bottom: 5rem;
}

article > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

article > p {
  font-size: 1rem;
  font-weight: light;
  color: white;
  padding-top: 1rem;
}

article > div{
  padding: 2rem 0rem 2rem 0rem;
}

article > div > a {
  position: absolute;
  font-size: 1rem;
  font-weight: light;
  color: var(--secondary);
  background-color: white;
  border-radius: 25px;
  padding: 1rem;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  bottom: 10%;
  right: 23%;
}

article > div > a:hover {
  text-decoration: underline;
}

 /* BREAKPOINTS */

 @media (max-width:90rem){

  .background-container > img{
    width: 100%;
    object-fit: cover;
  }

  .intro-title{
    padding: 5rem 0rem 5rem 2rem;
  }

  .members-squad{
    gap: 5rem;
    padding: 0rem 7rem 0rem 7rem;
  }
}

@media (max-width:70rem){

  .background-container > img{
    width: 100%;
    object-fit: cover;
  }

  .circle-squadpage{
    right: 0;
  }

  .intro-title{
    padding: 5rem 0rem 5rem 0rem;
  }

  .members-squad{
    gap: 3rem;
    padding: 0rem 3rem 0rem 3rem;
  }

  .members-squad > article{
    margin-top: 3rem;
  }
}
 
 @media (max-width:50rem){

  .background-container > img{
    width: 100%;
    object-fit: cover;
  }

  .intro-title{
    width: 100%;
    top: 0;
    background: linear-gradient(#FA4A6A,transparent);
  }

  .intro-title span{
    margin: 0;
    text-align: center;
  }

  .circle-squadpage{
    width: 40rem;
    height: 40rem;
    right: -2rem;
    top: 8%;
    padding: 10rem;
  }

  main > svg{
    display: none;
  }

  .top-title{
    padding: 20rem 3rem 0rem 3rem;
  }

  .filter-members{
    margin-top: 5rem;
  }

  .members-squad{
    gap: 3rem;
  }
}

@media (max-width:30rem){

  .intro-title span{
    font-size: 5rem;
  }

  .circle-squadpage{
    width: 30rem;
    height: 30rem;
    inset: 0;
    top: 4%;
    padding: 5rem;
  }

  .top-title{
    padding-top: 20rem;
  }
}
